@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/** MENU DE NAVEGACION */

/*Redimensiono el tamaño del logo de la barra de navegación*/

header .img-logo {
    height: 40px;
}

.navbar-nav {
    text-align: center;
    font-weight: 500;
}

.navbar-nav * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navbar-nav li {
    display: inline-block;
    list-style: none;
    margin: 0 1.2em;
    overflow: hidden;
}

.navbar-nav a {
    padding: 0 0.5em 0 0.2em;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

@media (min-width: 991px) {
    .posicion-menu {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-nav a:before, .navbar-nav a:after {
        position: absolute;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .navbar-nav a:before, .navbar-nav a:after {
        position: absolute;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .navbar-nav a:before {
        right: 100%;
        display: block;
        width: 3px;
        height: 100%;
        content: "";
        background-color: #f39c12;
    }

    .navbar-nav a:after {
        padding: 0 0.5em 0 0.2em;
        position: absolute;
        right: 100%;
        top: 0;
        content: attr(data-hover);
        color: orange;
        white-space: nowrap;
    }

    .navbar-nav li:hover a, .navbar-nav .current a {
        transform: translateX(100%);
    }
}

/** JUMBOTRON */

.btn-tangerine {
    background-color: #6b9a22;
    border: none;
    color: #fff;
    transition: 0.3s;
    font-size: 1em;
}

.btn-tangerine:hover {
    background-color: #ffae00;
    color: #fff;
}

.btn-jumbotron:hover {
    background-color: #fff;
    color: #ffae00;
}

.jumbotron {
    background-image: linear-gradient(180deg, #ff8400 0%, #ffc446 100%);
    color: white;
}

.jumbotron img {
    max-width: 100%;
}

.text-green {
    color: #6b9a22;
}

.text-orange {
    color: #ff8400;
}


/** TARJETAS */

.cards-tangerine {
    background-color: white;
    transition: all 0.3s;
}

.cards-tangerine:hover {
    background-color: #ffae00;
    color: #fff;
    transform: translateY(-3%);
}

.cards-tangerine:hover.text-orange {
    color: #fff;
}

.cards-tangerine .fas {
    color: #ffae00;
}

.cards-tangerine:hover .fas {
    color: white;
    transition: all 0.5s;
}

/** FOOTER */
.bg-footer {
    background-image: linear-gradient(180deg, #ff8400 0%, #ffc446 100%);
}

/** OTROS */
.card-proyectos:hover {
    background-color: #6a9b22;
    color: #fff;
    transition: all 0.3s;
}

.card-header {
    width: 100%;
    height: 300px;
}

.softskills {
    max-width: 100%;
    max-height: 400px;
}

.softskill-section {
    min-height: 100vh;
}



.snap-wrapper {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section, header {
    scroll-snap-align: start;
}


/* formulario contacto seccion contacto */

#mensaje {

    height: 30vh;
}

#enviar {
    margin-top: 2vh;
}

/* TABLA */


.row-max-height {
    height: 100px;
    overflow:auto;
}
.row-min-width {
    min-width: 250px;
}

.row-img {
 max-height: 100%;
}

@media screen and (max-width: 1000px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.iframe-container {
    width: 100%;
}

.offices {
    max-width: 100%;
    max-height: 450px;
}